.textBuy {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: $primaty-color;
}

.btn {
    padding: 10px 15px;
    border: 1px solid red;
    background-color: $secondery-color;
}